main {
    padding-top: 4em;
    text-align: center;
}

.infoPage_sprite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}

.infoPage_spriteImages {
    padding: 2em;
}



.infoPage_commission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoPage_commissionImages {
    padding: 2em;
}



.infoPage_series{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}

.infoPage_seriesImages {
    padding: 2em;
    width: 25%;
}



.infoPage_installation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoPage_installationImages {
    padding: 2em;
}



.infoPage_rattigan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoPage_rattiganImages {
    padding: 2em;
}



.infoPage_hamburg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoPage_hamburgImages {
    padding: 2em;
}



.infoPage_shortfilm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.infoPage_shortfilmImages {
    padding: 2em;
}



.infoPage_pfp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
}

.infoPage_pfpImages {
    padding: 2em;
}
