@font-face {
    font-family: berylium;
    src: url("../fonts/Berylium/Berylium-Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: berylium;
    src: url("../fonts/Berylium/Berylium-Rg-It.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: analogue;
    src: url("../fonts/Analogue/TrueType/AnalogueRed-45Light.ttf");
    font-weight: normal;
    font-style:normal;
}


body menuItem{
    font-family: analogue;
}

main h1{
    font-family: berylium;
}


/* a {
    font-family: analogue;
} */

a:link{
    text-decoration: none;


}

a:visited{
    text-decoration: none;
}

