
body{
    margin: 0%;
    height: 100%;
    
    display: grid;
    grid-template-areas:
    "header menu"
    "section section"
    "main main"
    "footer contact"
    ;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr;
    gap: 0px;

    background-color: #3D2B53
}



header {
    grid-area: header;
    background-color: #3D2B53;
    color: #FFF3D7;
}

menu {
    grid-area: menu;
    background-color: #3D2B53;
    /* color: #FFF3D7; */
}

section {
    grid-area: section;
    background-color: #FFF3D7;
    color: #F1CFB0;
    /* height: 30em; */
}

section img{
    grid-area: section;
    /* Fits for images around 6016x1987... but it works!! */
    /* min-width: 100%; */
    max-width: 100%;
    object-fit: cover;
    /* object-position: center; */
}

main {
    grid-area: main;
    background-color: #FFF3D7;
    color: #3D2B53;
    padding: 0em 4em;
}

footer {
    grid-area: footer;
    background-color: #3D2B53;
    color: #FFF3D7;
}


contact {
    grid-area: contact;
    background-color: #3D2B53;
    color: #FFF3D7;
    text-align: end;
}


.contact-element {
    align-content: right;
    margin: 0.5em 0em;
    width: 100%;
    color: #3D2B53;
    background-color: #FFF3D7;
}

.contact-button {
    color: #3D2B53;
    background-color: #f2843a;
}


header, menu, footer, contact {
    padding: 0em 2em;
    /* margin: 0em 1em; */
}



/* make a flexbox for the header for the menu to be in */
.menuContainer {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

.menuItem {
    background-color: #F1CFB0; 
    text-align: right;
    margin: 0.5em;
    border-radius: 1em;
    padding: 1em;
    color:#3D2B53
}

.menuItem:hover {
    background-color: #FFF3D7;
}

.menuItem_current {
    background-color: #FFF3D7;
}



/* boxes for project showcasing */
.projectBox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0% 10%;
    flex-wrap: wrap;
    max-width: 90%;
}

.project_card {
    /* border: 2px solid lightgray; */
    background-color: #F1CFB0;
    padding: 1em;
    width: 15%;
    margin: 3em;
}

.project_title {
    text-align: center;
    border-radius: 1em;
    padding: 2em;
    color:#3D2B53;
    text-align: wrap;
}

.project_text {
    padding: 2em;
    color:#3D2B53;
    text-align: wrap;
}



/* Browser preview doesn't work with max-width smaller than 700px */
/* Pixel size is smaller than newer phone resolutions, so that it responds to computers */
@media screen and (max-width: 800px) {
    body{
    margin: 0%;
    height: 100%;
    
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "section"
    "main"
    "footer"
    "contact"
    ;
    grid-template-columns: 3fr;
    }


    .menuContainer {
        flex-direction: column;
    }
    
    .menuItem {
        text-align: center;
        font-weight: bold;
        padding: 2em;
    }


    .projectBox {
    flex-direction: column;
    }
}