/* html{
    height: 100%;
} */





body{
    margin: 0%;
    height: 100%;
    
    display: grid;
    grid-template-areas:
    "header menu"
    "section section"
    "main main"
    "footer footer"
    ;

    grid-template-columns: 3fr;
    gap: 0px;

    background-color: #3D2B53
}



header {
    grid-area: header;
    background-color: #3D2B53;
    color: #FFF3D7;
}

menu {
    grid-area: menu;
    background-color: #3D2B53;
    /* color: #FFF3D7; */
}

section {
    grid-area: section;
    background-color: #FFF3D7;
    color: #F1CFB0;
    /* height: 30em; */
}

section img{
    grid-area: section;
    /* Fits for images around 6016x1987... but it works!! */
    /* min-width: 100%; */
    max-width: 100%;
    object-fit: cover;
    /* object-position: center; */
}

main {
    grid-area: main;
    background-color: #FFF3D7;
    color: #3D2B53;
    padding: 0em 4em;
}

footer {
    grid-area: footer;
    background-color: #3D2B53;
    color: #FFF3D7;
}


header, menu, footer {
    padding: 0em 2em;
    /* margin: 0em 1em; */
}



/* make a flexbox for the header for the menu to be in */
.menuContainer {
    display: flex;
    list-style-type: none;
}

.menuItem {
    background-color: #F1CFB0; 
    text-align: right;
    margin: 0.5em;
    border-radius: 1em;
    padding: 1em;
    color:#3D2B53
}

.menuItem:hover {
    background-color: #FFF3D7;
}

.menuItem_current {
    background-color: #FFF3D7;
}


.projectContainer {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    border: 2px solid lightgray;
    padding: 1em;
    width: min-content;
    margin: 1em;
}

.projectItem {
    background-color: #F1CFB0; 
    text-align: right;
    margin: 0.5em;
    border-radius: 1em;
    padding: 1em;
    color:#3D2B53
}



/* Browser preview doesn't work with max-width smaller than 700px */
@media screen and (max-width: 700px) {
    body{
    margin: 0%;
    height: 100%;
    
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "section"
    "main"
    "footer"
    ;
    grid-template-columns: 3fr;
    
    background-color: aqua;
    }

    /* .menuItem {
    background-color: #F1CFB0; 
    text-align: right;
    padding: 1em;


    flex-flow: column;
    } */
}